USE [master]
GO
/****** Object:  Database [HCG]    Script Date: 20/08/2021 10:46:59 SA ******/
CREATE DATABASE [HCG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HCG', FILENAME = N'E:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HCG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HCG_log', FILENAME = N'E:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HCG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HCG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HCG]
GO
/****** Object:  Table [dbo].[tbl_eresult]    Script Date: 20/08/2021 10:46:59 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_eresult](
	[rid] [int] IDENTITY(1,1) NOT NULL,
	[rname] [nvarchar](100) NULL,
	[rinfo] [nchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_event]    Script Date: 20/08/2021 10:47:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_event](
	[eid] [int] IDENTITY(1,1) NOT NULL,
	[ename] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[eid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_rule]    Script Date: 20/08/2021 10:47:00 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_rule](
	[ruleid] [int] IDENTITY(1,1) NOT NULL,
	[ruleleft] [varchar](100) NULL,
	[ruleright] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ruleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_eresult] ON 

INSERT [dbo].[tbl_eresult] ([rid], [rname], [rinfo]) VALUES (1, N'Thủy đậu', NULL)
INSERT [dbo].[tbl_eresult] ([rid], [rname], [rinfo]) VALUES (2, N'Nấm da đầu', NULL)
INSERT [dbo].[tbl_eresult] ([rid], [rname], [rinfo]) VALUES (3, N'Lang ben', NULL)
SET IDENTITY_INSERT [dbo].[tbl_eresult] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_event] ON 

INSERT [dbo].[tbl_event] ([eid], [ename]) VALUES (1, N'Da đầu ngứa')
INSERT [dbo].[tbl_event] ([eid], [ename]) VALUES (2, N'Mặt có đốm, mảng màu trắng')
INSERT [dbo].[tbl_event] ([eid], [ename]) VALUES (3, N'Tay chân có mụn nước')
SET IDENTITY_INSERT [dbo].[tbl_event] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_rule] ON 

INSERT [dbo].[tbl_rule] ([ruleid], [ruleleft], [ruleright]) VALUES (1, N'e1^e4^e11^e20', 1)
INSERT [dbo].[tbl_rule] ([ruleid], [ruleleft], [ruleright]) VALUES (2, N'e1^e5^e14^e23', 2)
INSERT [dbo].[tbl_rule] ([ruleid], [ruleleft], [ruleright]) VALUES (3, N'e2^e6', 3)
SET IDENTITY_INSERT [dbo].[tbl_rule] OFF
GO
USE [master]
GO
